body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 30px;
}

/* Container Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* Styling gambar */
.gallery img {
    width: 180px;
    height: 110px;
    object-fit: cover;
    border: 3px solid #444;
    border-radius: 6px;
    background: #eaeaea;
}
